.errorMsg {
   height: 4rem;
   background-color: lightcoral;
   width: 14rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem auto 0;
   border-radius: 5px;

   p {
      margin: auto 0;
   }
}
