.form {
   padding-top: 4rem;
   margin: 0 2rem;
   display: flex;
   flex-direction: column;
   max-width: 1200px;

   input {
      height: 2rem;
      border-radius: 5px;
      border: 1px solid #ccc;
   }

   label {
      padding: 1rem 0;
   }
}

.example-url {
   margin: 0 2rem;

   p {
      overflow-wrap: break-word;
   }
}
