.button {
   height: 2rem;
   width: 4rem;
   margin: 1rem 2rem 1rem 0;
   border-radius: 5px;
   border: 0;
   background-color: lightblue;
   &:hover {
      cursor: pointer;
      background-color: darken($color: lightblue, $amount: 20%);
   }
}
