.collectionPage {
   @include box;
   max-width: $pageWidth;
   margin: 1rem $pageMargin;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 0 1rem;

   h3 {
      margin: 1rem 0;
   }

   @include textWrap;
}
