.feedInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: $pageWidth;
   margin: 0 auto;

   &__mainTitle {
      @include textWrap;
      font-size: 2rem;
      margin: 4rem 0.5rem;

      img {
         float: left;
         width: 2rem;
         height: 2rem;
         margin: 0 0.5rem 0 0;
      }
   }

   &__wrapper {
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 0.5rem;
      @include box;

      h2,
      p {
         @include textWrap;
      }

      .feedInfo__desc {
         display: flex;
         justify-content: center;
         img {
            max-width: 18rem;
         }
      }
   }
   &__wrapper--clear {
      clear: both;
   }
}
