.header {
   position: fixed;
   width: 100%;
   background-color: rgba(128, 128, 128, 0.7);
   border-bottom: 1px solid black;
   height: 4rem;
   display: flex;

   .header__wrapper {
      width: 10rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
         margin-left: 0.5rem;
      }

      img {
         width: 2.5rem;
         height: 2.5rem;

         &:hover {
            transform: scale(1.1);
         }
      }
   }
}
